.container {
  width: 720px;
  height: 250px;
  background-color: silver;

  /* display: flex; puts them inline */
  display: flex;
  align-items: center;
}
  
.col {
  background-color: blanchedalmond;
}



