*{
    /* border: 1px solid black; */
}
body{
    background-color: black;
    margin: 0px;
}
div.row div{
    width: 20px;
    height: 20px;
    /* border: 1px solid black; */
    display: inline-block;
    margin-bottom: -4px;
}

div.brick{
    background-color: blue;
}

div.coin{
    background: url('assets/coin3.png');
    background-size: 200px;
    background-position: center;
    
}
div.cherry{
    background: url('assets/cherry.png');
    background-size: 20px;
    background-position: center;
}
div#pacman{
    background: url('assets/pacman.gif');
    background-size: 20px;
    /* background-position: center; */
    width: 20px;
    height: 20px;
    position: absolute;
    /* transform: scaleX(-1); */
}
div#score{
    width: 60px;
    height: 30px;
    border: 1px solid rgb(218, 212, 212);
    color: white;
    padding-top: 10px;
    text-align: center;
    
}