*{
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin-left: 20px;
}
textarea{
    border: 2px solid black;
    color: grey;
    padding-left: 5px;
}
.button-nav{
    background-color: blue;
    columns: white;
    width: 60px;
    height: 30px;
    margin-right: 40px;
    color: white;
    border: 2px solid black;
    box-shadow: 4px 4px black;
    
}

.nav{
    /* border: 1px solid black; */
    width: 900px;
    height: 70px;
    background-color: gray;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    /* border: 1px solid black; */
    width: 900px;
    height: 500px;
    margin-top: 50px;

    display: flex;
}
.column-left{
    /* border: 1px solid black; */
    height: 500px;
    margin-right: 50px;

    flex: 2;
}

.definition-top{
    border: 2px solid black;
    height: 250px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.definition-bottom{
    border: 2px solid black;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.name{
    height: 200px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -40px;
    justify-content: space-around;
}
.button-name{
    color: black;
    background-color: orange;
    border: 2px solid black;
    box-shadow: 4px 4px black;
    width: 100px;
    height: 30px;
    margin-top: 50px;

}
.sentence{
    /* border: 1px solid black; */
    width: 250px;
}


.column-right{
    border: 2px solid black;
    height: 200px;
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.h2-add{
    /* border: 2px solid black; */
    width: 200px;
}
.button-add{
    color: black;
    background-color: rgb(76, 189, 76);
    border: 2px solid black;
    box-shadow: 4px 4px black;
    width: 200px;
    height: 50px;
    font-size: 20px;
}
