*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-weight: lighter;
}
.empty{
    visibility: hidden;
}
body{
    display: flex;
}
.margin-left{
    flex: 1;
    /* border: 1px solid black; */
}
.container{
    flex:2;
    /* border: 1px solid black; */
    height: 600px;
}
.margin-right{
    flex:1;
    /* border: 1px solid black; */
}

.nav{
    /* border: 1px solid black; */
    background-color: black;
    color: white;
    padding: 10px;
    padding-left: 20px;
}
.feed{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.column-body{
    display: flex;
}
.column-left{
    border: 3px solid black;
    height: 250px;
    flex:1;
    margin-right: 25px;
}
.column-right{
    /* border: 1px solid black; */
    height: 500px;
    flex:2;
}

/* profile card */
.column-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.column-left img{
    height: 100px;
    width: 100px;
}

/* user card */
.user1, .user2, .user3{
    border: 3px solid black;
    padding: 25px;
    margin-bottom: 25px;
}
.user-top{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.user-bottom{
    /* border: 1px solid black; */
}
button{
    width: 60px;
    background-color: orange;
    color: black;
    box-shadow: 2px 2px black;
}


