h1 {
  background-color: black;
  color: white;
  font-family: cursive;
} 
h1 span {
  color: cyan;
}
h2 {
  background-color: rebeccapurple;
  color: white;
  text-align: center;
  font-family: sans-serif;
}
h3{
  background-color: lightblue;
  text-align: right;
  text-decoration: underline;
  font-family: monospace;
}
