*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    border: 1px solid black;
    padding: 10px;
}
.col{
    border: 1px solid black;
    height: 40px;
    display: inline-block;
}

@media only screen and (max-width: 700px){
    .sm-4 {
        /* we will not display anything with the class .sm-0 if the screen's width is less than 480px */
        width: 100%;
    }
}
@media only screen and (min-width: 701px){
    .lg-1 {
        /* anything with the class .med-1 will get 25% of the available width if the screen's width is greater than 480px */
        width: 20%;
    }
}

